{% extends 'base.html.twig' %}

{% block title %}Verbs list{% endblock %}

{% block body %}
    <div class="container">
        <h1>Verbs</h1>
            {% for verb in verbsList %}
                <div class="row"><h4>{{ verb.title|e }}</h4>
                    <table>
                        <thead>
                          <tr>
                              <th>type</th>
                              <th>yo</th>
                              <th>tu</th>
                              <th>el</th>
                              <th>ella</th>
                              <th>usted</th>
                              <th>nosotros</th>
                              <th>vosotros</th>
                              <th>ellos</th>
                          </tr>
                        </thead>
                
                        <tbody>
                            {% for timeForm in verb.timeForms %}
                                <tr>
                                  <td>{{timeForm.getTimeTypeTitle()}}</td>
                                  <td>{{timeForm.yo}}</td>
                                  <td>{{timeForm.tu}}</td>
                                  <td>{{timeForm.el}}</td>
                                  <td>{{timeForm.ella}}</td>
                                  <td>{{timeForm.usted}}</td>
                                  <td>{{timeForm.nosotros}}</td>
                                  <td>{{timeForm.vosotros}}</td>
                                  <td>{{timeForm.ellos}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
      </div>
{% endblock %}
