{% extends 'base.html.twig' %}

{% block title %}Verb{% endblock %}

{% block body %}
    <h1>Verb</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ verb.id }}</td>
            </tr>
            <tr>
                <th>Infinitivo</th>
                <td>{{ verb.infinitivo }}</td>
            </tr>
            <tr>
                <th>ModoIndicativo</th>
                <td>{{ verb.modoIndicativo }}</td>
            </tr>
            <tr>
                <th>PreteritoSimple</th>
                <td>{{ verb.preteritoSimple }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('verb_index') }}">back to list</a>

    <a href="{{ path('verb_edit', {'id': verb.id}) }}">edit</a>

    {{ include('verb/_delete_form.html.twig') }}
{% endblock %}
